<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyBeh" >
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
            <service name="MultiplicationServiceLibrary.MultiplicationService" behaviorConfiguration="MyBeh">
                <endpoint address="net.tcp://localhost:9001/MyService" binding="netTcpBinding"
                    bindingConfiguration="" contract="MultiplicationServiceLibrary.IMultiplicationService" />
                <endpoint address="net.tcp://localhost:9001/MyService/mex" binding="mexTcpBinding"
                    bindingConfiguration="" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>