<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NewBinding0" openTimeout="00:02:00" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NewBinding1" />
            </netTcpBinding>
        </bindings>
        <services>
            <service name="MultiplicationServiceLibrary.MultiplicationService">
                <endpoint address="net.pipe://localhost/myNamedPipeEp" binding="netNamedPipeBinding"
                    bindingConfiguration="NewBinding0" contract="MultiplicationServiceLibrary.IMultiplicationService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>