<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IMultiplicationService" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMultiplicationService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMultiplicationService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/myNamedPipeEp" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IMultiplicationService"
                contract="IMultiplicationService" name="NetNamedPipeBinding_IMultiplicationService">
                <identity>
                    <userPrincipalName value="Administrator" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6789/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMultiplicationService"
                contract="IMultiplicationService" name="NetTcpBinding_IMultiplicationService">
                <identity>
                    <userPrincipalName value="Administrator" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:6790/MyHttpEndpoint" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMultiplicationService"
                contract="IMultiplicationService" name="WSHttpBinding_IMultiplicationService">
                <identity>
                    <userPrincipalName value="Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>